In [2]:
import numpy as np
import pandas as pd

# 对提供的数据集整合并划分训练集和验证集

In [4]:
train_data = pd.read_csv('data/train.csv', names=['classes', 'urls'])
train_data

       classes                                          urls
0           11                              nx3.hhhtklch.com
1            2                                    qdhkdn.com
2            2                                   retrwerw.cn
3            0  c688a3a485c9c452b85cd79c071ae73f.jddebug.com
4            0            1656213086865.032.sngdia.imtmp.net
...        ...                                           ...
46106        2                             www.lijun0539.com
46107        0            1656691434471.005.sngdia.imtmp.net
46108        0  b941a3b6f6985f05e9510dae3e412680.jddebug.com
46109        0                              dyibvm.8wuqjs.cn
46110        0        1656403225.2514038109.sngdia.imtmp.net

[46111 rows x 2 columns]

In [5]:
val_data = pd.read_csv('data/val.csv', names=['classes', 'urls'])
val_data

       classes                                               urls
0            6                                         thjchy.com
1            2                                   www.xiexie58.com
2            2                                      www.51osc.com
3            2                                     www.adcadx.com
4            2                                   www.kzsolder.com
...        ...                                                ...
11523       11                              http://chen339949.top
11524       11                       https://www.renwujun.com.cn/
11525       11  http://112.15.232.43:8081/warning.html?u=http%...
11526       11                                http://wxj.zmtsq.cn
11527       11                                 http://qmds233.com

[11528 rows x 2 columns]

In [6]:
old_data = train_data.append(val_data, ignore_index=True)
old_data

       classes                                               urls
0           11                                   nx3.hhhtklch.com
1            2                                         qdhkdn.com
2            2                                        retrwerw.cn
3            0       c688a3a485c9c452b85cd79c071ae73f.jddebug.com
4            0                 1656213086865.032.sngdia.imtmp.net
...        ...                                                ...
57634       11                              http://chen339949.top
57635       11                       https://www.renwujun.com.cn/
57636       11  http://112.15.232.43:8081/warning.html?u=http%...
57637       11                                http://wxj.zmtsq.cn
57638       11                                 http://qmds233.com

[57639 rows x 2 columns]

In [8]:
old_data.groupby(['classes']).count()

          urls
classes
0        35090
1           22
2        17780
5            2
6         2603
9          595
10         998
11         549

In [17]:
new_data = pd.read_excel('data/new_train1.xlsx', names=['urls', 'classes'])
new_data

                      urls  classes
0              0e0ubr.cyou        3
1            aidinghao.com        3
2              dodoke1.com        3
3               ftxpor.com        3
4               gfhe12.vip        3
...                    ...      ...
5727         s.1717388.com        4
5728             56gan.com        4
5729  fxswxz1.zhanyu55.com        4
5730          x.flmall.vip        4
5731     www.basirlabs.com        4

[5732 rows x 2 columns]

In [16]:
new_data.groupby(['classes']).count()

         urls
classes
3         173
4        4658
7          11
8         883
12          7

In [15]:
all_data = old_data.append(new_data, ignore_index=True)
all_data

       classes                                          urls
0           11                              nx3.hhhtklch.com
1            2                                    qdhkdn.com
2            2                                   retrwerw.cn
3            0  c688a3a485c9c452b85cd79c071ae73f.jddebug.com
4            0            1656213086865.032.sngdia.imtmp.net
...        ...                                           ...
63366        4                                 s.1717388.com
63367        4                                     56gan.com
63368        4                          fxswxz1.zhanyu55.com
63369        4                                  x.flmall.vip
63370        4                             www.basirlabs.com

[63371 rows x 2 columns]

In [19]:
all_data.groupby(['classes']).count()

          urls
classes
0        35090
1           22
2        17780
3          173
4         4658
5            2
6         2603
7           11
8          883
9          595
10         998
11         549
12           7

In [18]:
all_data.to_csv('new_data/dataset.csv', index=False)

In [20]:
df1=all_data.sample(frac=0.8,random_state=24) #sample 函数
df2=all_data.drop(df1.index) # drop

In [21]:
df1.to_csv('new_data/train.csv', index=False)
df2.to_csv('new_data/val.csv', index=False)

# 给数据集按类别存放到txt中

In [14]:
train_data = pd.read_csv('new_data/dataset.csv', names=['classes', 'urls'], header=0)
train_data

       classes                                          urls
0           11                              nx3.hhhtklch.com
1            2                                    qdhkdn.com
2            2                                   retrwerw.cn
3            0  c688a3a485c9c452b85cd79c071ae73f.jddebug.com
4            0            1656213086865.032.sngdia.imtmp.net
...        ...                                           ...
63366        4                                 s.1717388.com
63367        4                                     56gan.com
63368        4                          fxswxz1.zhanyu55.com
63369        4                                  x.flmall.vip
63370        4                             www.basirlabs.com

[63371 rows x 2 columns]

In [15]:
train_data.groupby(['classes']).count()

          urls
classes
0        35090
1           22
2        17780
3          173
4         4658
5            2
6         2603
7           11
8          883
9          595
10         998
11         549
12           7

In [18]:
classfied_data_list = []
for i in range(1, 13):
# for i in range(1, 13):
    classfied_data = train_data[train_data['classes'] == i]
    classfied_data_list.append(classfied_data)
    if classfied_data.size != 0:
        classfied_data['urls'].to_csv('classfied_data/class_{}.txt'.format(i), index=False, header=False)

In [20]:
example = train_data[train_data['classes'] == 5]
example['urls']

18675      kqzwbh.cn
23311    luolips.com
Name: urls, dtype: object

In [22]:
classfied_data['urls']

58706    gc13.port0.org
58707          mnytt.cn
58708      www.newrc.cn
58709      bbs.mnytt.cn
58710      www.06fj.com
58711    sandy.cesy.top
58712        bzsclb1.cn
Name: urls, dtype: object

In [12]:
train_loss = [1,42,156,16,51]
valid_loss = [1,42,156,16,51]
train_epochs_loss = [156,16,51]
valid_epochs_loss = [156,16,51]

df = pd.DataFrame({'train_loss':pd.Series(train_loss), 'valid_loss':pd.Series(valid_loss),
                   'train_epochs_loss': pd.Series(train_epochs_loss), 'valid_epochs_loss':pd.Series(valid_epochs_loss)})
df.to_excel('result.xlsx')

In [8]:
pd.Series(train_loss)

0      1
1     42
2    156
3     16
4     51
dtype: int64

In [14]:
score_dict = dict()
score_dict[4] = 156
score_dict[5] = 151656
score_dict[6] = 1565
score_dict

{4: 156, 5: 151656, 6: 1565}

In [23]:
precision_dict = dict()
precision_dict[4] = 156
precision_dict[5] = 151656
precision_dict[6] = 12412
precision_dict

{4: 156, 5: 151656, 6: 12412}

In [26]:
score_df = pd.DataFrame(list(score_dict.items()), columns=['class', 'score_dict'])
precision_df = pd.DataFrame(list(precision_dict.items()), columns=['class', 'precision_dict'])
precision_df2 = pd.DataFrame(list(precision_dict.items()), columns=['class', 'precision_dict2'])
score_df = score_df.merge(precision_df)
score_df.merge(precision_df2)

   class  score_dict  precision_dict  precision_dict2
0      4         156             156              156
1      5      151656          151656           151656
2      6       11111           12412            12412

[(4, 156), (5, 151656), (6, 1565)]